<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iamriyaz.tringo">

  <!-- permissions -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".Tringo"
      android:allowBackup="true"
      android:icon="@mipmap/icon_launcher"
      android:label="@string/app.name"
      android:supportsRtl="true"
      android:theme="@style/Tringo">
    <activity android:name=".HomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".DetailActivity">
    </activity>
  </application>

</manifest>